*{
	margin:0;
	padding:0;
}


/* Body
******************************************/
body {
	font-family: 'ArvoRegular';
	background: url('../images/food_1.png'), url('../images/bg1.gif') ;
	background-repeat: no-repeat, repeat;
}

/* Wrapper
******************************************/
#wrapper {
		background-color:#FFFFFF;
		margin: 15px auto;
		width: 960px;
		border-radius: 10px; 
		-moz-border-radius: 10px; 
		-webkit-border-radius: 10px; 
		border: 1px solid #999999;
}	

/* Header
******************************************/

header{
	font-family: 'ArvoRegular';
}	

/* Logo
******************************************/
#logo {
	float: left;
	padding-bottom: 5px;
}

/* HeaderContact
******************************************/
#headerContact {
	font-size: 14px;
	display: block;
	float: right;
	line-height: 200%;
	padding-right: 10px;
	padding-top: 12px;
	color: #D71A06;
}

#headerContact a{
	color: #D71A06;
}

/* Nav
******************************************/
#nav {
	font-family: 'KaushanScriptRegular';
	list-style-type: none;
	list-style-position: inside;
	text-align: center;
	clear: both;
}

#nav li {
	float: left;
	font-size: 20px;
	
}

#nav li a{
	color: white;
	display: block;
	text-decoration: none;
	padding: 10px 0;
	background-image: url('../images/menu_bg.jpg');
	border-bottom: solid 5px #333333;
}

#nav li a:hover {
	background-image: url('../images/menu_hover.jpg');
	border-bottom: solid 5px #D71A06;
}

#liHome {
	width: 192px;
}

#liAbout {
	width: 192px;
}

#liMenu {
	width: 192px;
}

#liContact {
	width: 192px;
}

#liBooking {
	width: 192px;
}

/* Content
******************************************/
#content {
	height: 1080px;
}


/* Container
******************************************/
#container {
	position: relative;
	top: 300px;
	border-top: solid 5px #333333;
}


/* Signature Dishes 
******************************************/
#sig_dishes h2{
	//text-align: center;
	//padding-top: 10px;
	//padding-bottom: 20px;
	text-shadow: 0px 0px 1px #D6D6D6;
	background-color: #ffcccc;
	line-height: 50px;
	color: #D71A06;
	padding-left: 18px;
}

#sig_dishes{
	margin-top: 5px;
	width: 323px;
	height: 190px;
	//background-color: grey;
	font-size: 14px;
	display: block;
	float: right;
	line-height: 200%;
	color: #666666;
	box-shadow: -3px 3px 5px #D6D6D6;
	border: 1px solid #D6D6D6;
	
	border-radius: 3px 0px 0px 3px; 
	-moz-border-radius: 3px 0px 0px 3px; 
	-webkit-border-radius: 3px 0px 0px 3px;
}

.sig_bullets {
	vertical-align: middle; 
	padding-left: 18px;
	padding-bottom:5px;
}

#welcome{
	margin-top: 5px;
	width: 623px;
	height: 450px;
	//background-color: grey;
	font-size: 14px;
	float: left;
	line-height: 200%;
	color: #D71A06;
	box-shadow: 3px 3px 5px #D6D6D6;
	border: 1px solid #D6D6D6;
	
	border-radius: 0px 3px 3px 0px; 
	-moz-border-radius: 0px 3px 3px 0px; 
	-webkit-border-radius: 0px 3px 3px 0px;
}

#welcome h2{
	//text-align: center;
	//padding-top: 10px;
	//padding-bottom: 20px;
	text-shadow: 0px 0px 1px #D6D6D6;
	background-color: #ffcccc;
	line-height: 50px;
	color: #D71A06;
	padding-left: 18px;
}

.greetingsText {
	padding: 0 18px;
	text-align: justify;
	color: #666666;
	padding-top:5px;
}

#services h2{
	//text-align: center;
	//padding-top: 10px;
	//padding-bottom: 20px;
	text-shadow: 0px 0px 1px #D6D6D6;
	background-color: #ffcccc;
	line-height: 50px;
	color: #D71A06;
	padding-left: 18px;
}

#services {
	margin-top: 8px;
	width: 323px;
	height: 250px;
	//background-color: grey;
	font-size: 14px;
	display: block;
	float: right;
	//line-height: 200%;
	color: #666666;
	box-shadow: -3px 3px 5px #D6D6D6;
	border: 1px solid #D6D6D6;
	
	border-radius: 3px 0px 0px 3px; 
	-moz-border-radius: 3px 0px 0px 3px; 
	-webkit-border-radius: 3px 0px 0px 3px;
}

.hsSlider {
	text-decoration: none;
	font-family: 'KaushanScriptRegular';
	font-size: 16px;
	color: #D71A06;
	background-color: #DBDCDD;
	//background-image: url('../images/hs.png');
	height: 25px;
	//width: 323px;
	padding-left: 18px;
	padding-top: 5px;
}

.hsSlider:hover {
	text-decoration: none;
	cursor: pointer;
	font-family: 'KaushanScriptRegular';
	font-size: 16px;
	//text-align: center;
	color: #D71A06;
	background-color: #F4EFEF;
	//background-image: url('../images/hs_hover.png');
	height: 25px;
	//width: 323px;
}

.servicesDetails {
	padding: 5px 18px;
	text-align: justify;
	color: #666666;
	
	
}

#reviews h2{
	//text-align: center;
	//padding-top: 10px;
	//padding-bottom: 20px;
	text-shadow: 0px 0px 1px #D6D6D6;
	background-color: #ffcccc;
	line-height: 50px;
	color: #D71A06;
	padding-left: 18px;
}

#reviews {
	margin-top: 8px;
	width: 860px;
	height: 250px;
	//background-color: grey;
	font-size: 14px;
	display: block;
	float: left;
	line-height: 200%;
	color: #666666;
	box-shadow: 3px 3px 5px #D6D6D6;
	border: 1px solid #D6D6D6;
	
	border-radius: 0px 3px 3px 0px; 
	-moz-border-radius: 0px 3px 3px 0px; 
	-webkit-border-radius: 0px 3px 3px 0px;
}

#idSocial {
	
	height: 250px;
	width: 86px;
	margin-top: 8px;
	float: right;

}

.social{
	
	padding-top: 2px;
	padding-left: 5px;
	height: 36%;
}
 
/*#twitter {

	float: right;
	margin-top: 8px;

}

#youtube {
	
	float: right;
	margin-top: 8px;
}*/

/* Footer
******************************************/
footer {
	padding: 10px 0;
	background-color: #CCCCCC;
	clear: both;
	margin-bottom: 10px;
}

footer p {
	font-size: 14px;
	text-align: center;
}

/* Texts and Links
******************************************/



/*==========================FONTS==========================*/

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 22, 2012 04:07:15 PM America/New_York */

@font-face {
    font-family: 'KaushanScriptRegular';
    src: url('../fonts/KaushanScript-Regular-webfont.eot');
    src: url('../fonts/KaushanScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KaushanScript-Regular-webfont.woff') format('woff'),
         url('../fonts/KaushanScript-Regular-webfont.ttf') format('truetype'),
         url('../fonts/KaushanScript-Regular-webfont.svg#KaushanScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 22, 2012 07:52:36 PM America/New_York */



@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo-Regular-webfont.eot');
    src: url('../fonts/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Regular-webfont.woff') format('woff'),
         url('../fonts/Arvo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoItalic';
    src: url('../fonts/Arvo-Italic-webfont.eot');
    src: url('../fonts/Arvo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Italic-webfont.woff') format('woff'),
         url('../fonts/Arvo-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Italic-webfont.svg#ArvoItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoBold';
    src: url('../fonts/Arvo-Bold-webfont.eot');
    src: url('../fonts/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-Bold-webfont.woff') format('woff'),
         url('../fonts/Arvo-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-Bold-webfont.svg#ArvoBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoBoldItalic';
    src: url('../fonts/Arvo-BoldItalic-webfont.eot');
    src: url('../fonts/Arvo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Arvo-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Arvo-BoldItalic-webfont.svg#ArvoBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

// slider Images
 #gallery {
	//position:relative;
	}

	#gallery a {
		float:left;
		position:absolute;
	}
	
	#gallery a img {
		width:100%;
		height:300px;
		
	}
	
	#gallery a.show {
		z-index:500;
	}

	/* #gallery .caption {
		z-index:600; 
		margin: 0 auto;
		background-color:#000; 
		color:#ffffff; 
		height:50px; 
		width:100%;; 
		position:relative;
		top:255px;
		right:0;
		left:2px;
	}

	#gallery .caption .content {
		margin:5px ;
	} */